a, a:visited, a:active {
    text-decoration: none;
    color: currentColor;
}

.a-letter {
    padding: 0 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkOnce 7s linear 2s infinite;
}
.b-letter {
    padding: var(--def-padding) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkTwice 5s linear 3s infinite;
}
.o-letter {
    padding: calc(var(--def-padding) * 2) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkOnce 9s linear 2s infinite;
}
.u-letter {
    padding: calc(var(--def-padding) * 3) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkOnce 5s linear 4s infinite;
}
.t-letter {
    padding: calc(var(--def-padding) * 4) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkTwice 4s linear 6s infinite;
}

.about-me-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5em;;
    min-height: 100vh;
}
.about-me-header {
    display: flex;
    font-family: 'Balsamiq Sans';
    color: var(--clr-neon);
    font-size: clamp(2rem, 10vw, 3rem);
    text-shadow: 0 0 0.1em var(--clr-neon);
}

.about-me-text {
    font-family: sans-serif;
    color: var(--clr-neon-alt);
    font-size: 1rem;
    text-shadow: 0 0 0.1em var(--clr-neon-alt);
}

.educational-facility-anchor:hover {
    text-decoration: underline;
}