.big-letter {
    font-size: clamp(1rem, 10vw, 5rem);
}

.c-letter {
    padding: 0 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkTwice 7s linear 2s infinite;
}
.o-letter {
    padding: var(--def-padding) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkTwice 5s linear 3s infinite;
}
.n-letter {
    padding: calc(var(--def-padding) * 2) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkOnce 6s linear 1s infinite;
}
.t-letter {
    padding: calc(var(--def-padding) * 3) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkTwice 7s linear 3s infinite;
}
.a-letter {
    padding: calc(var(--def-padding) * 4) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkOnce 7s linear 1s infinite;
}
.c-2-letter {
    padding: calc(var(--def-padding) * 5) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkTwice 9s linear 2s infinite;
}
.t-2-letter {
    padding: calc(var(--def-padding) * 6) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkOnce 8s linear 2s infinite;
}
