:root {
    --clr-bg: rgb(10, 0, 15);
    --clr-neon: rgb(230, 0, 175);
    --clr-neon-light: rgb(240, 135, 215);

    --h-footer: 80px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-bg);
}

body::-webkit-scrollbar {
    width: 0;
}

a, a:visited, a:active {
    text-decoration: none;
}

.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: var(--clr-bg);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}
.transition-1.is-active {
    opacity: 1;
    pointer-events: all;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.buttons a {
    margin: 0 1.5em;
}

.arrow-down {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    padding: 1rem;
    transition: transform 0.4s ease-in-out;
}
.arrow-img {
    width: 32px;
    height: 32px;
    animation: slightMove 2s ease-in-out infinite,
                moveFromBottom 2s ease-in-out 1;
}

@keyframes slightMove {
    0% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(2px);
    }
}
@keyframes moveFromBottom {
    0% {
        transform: translateY(35px) rotate(180deg);
    }
    50% {
        transform: translateY(-10px) rotate(180deg);
    }
    100% {
        transform: translateY(2px) rotate(0deg);
    }
}

.arrow-down-text {
    color: var(--clr-neon);
    font-family: sans-serif;
    font-size: 0.5em;
    text-shadow: 0 0 0.2em var(--clr-neon);
}

.neon-btn {
    user-select: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Balsamiq Sans';
    font-size: 2rem;
    color: var(--clr-neon);
    /* currentColor - color of 'color' attribute*/
    border: var(--clr-neon) 0.1em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.5em var(--clr-neon);
    /* inset adds shadow inside of element */
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.7em 0 var(--clr-neon);
}

.neon-btn-1 {
    animation: periodicBlinkOnce 9s linear 2s infinite;
}
.neon-btn-2 {
    animation: periodicBlinkTwice 7s linear 2s infinite,
                periodicBlinkOnce 4s linear 4s infinite;
}
.neon-btn-3 {
    animation: periodicBlinkTwice 6s linear 3s infinite;
}

@keyframes periodicBlinkOnce {
    0% {
        opacity: 0;
    }
    3% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes periodicBlinkTwice {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    2% {
        opacity: 0;
    }
    3% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.neon-btn::before {
    /* prevent hover */
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;
  
    /* we should add perspectiove in order to 'see' the result of rotation */
    /* perspective shows how far we are from element */
    transform: perspective(2em) rotateX(40deg) scale(1, 0.3);
    filter: blur(1.1em);
    opacity: 0.7;
    transition: opacity 0.15s linear;
}

.neon-btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0 var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 0.15s linear;
}
  
.neon-btn:hover {
    color: var(--clr-bg);
    text-shadow: none;
}

.neon-btn:hover::before {
    opacity: 1;
}
.neon-btn:hover::after {
    opacity: 1;
}


.arrow-left {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1rem;
    top: 0;
}
.arrow-left::before {
    content: "Go to";
    font-family: sans-serif;
    color: var(--clr-neon-light);
    text-shadow: 0 0 0.35em var(--clr-neon-light);
    opacity: 0;
    transition: opacity 0.15s linear;
    animation: slightMove 2s ease-in-out 1.2s infinite;
}
.arrow-left::after {
    content: "main";
    font-family: sans-serif;
    color: var(--clr-neon-light);
    text-shadow: 0 0 0.35em var(--clr-neon-light);
    opacity: 0;
    transition: opacity 0.15s linear;
    animation: slightMove 2s ease-in-out 0.8s infinite;
}
.arrow-img-back-to-main {
    width: 32px;
    height: 32px;
    animation: slightMove 2s ease-in-out 1s infinite,
                moveFromTop 3s ease-in-out 1;
    margin: 0 1rem;
}
.arrow-left:hover::before,
.arrow-left:hover::after {
    opacity: 1;
}

@keyframes moveFromTop {
    0% {
        transform: translateY(-45px) rotate(180deg);
    }
    33% {
        transform: translateY(10px) rotate(180deg);
    }
    75% {
        transform: translateY(2px) rotate(0deg);
    }
}
.curr-page-big-logo {
    user-select: none;
    display: flex;
    justify-content: center;
}
.big-letter {
    --def-padding: 1rem;
    font-family: 'Balsamiq Sans';
    color: var(--clr-neon-light);
    font-size: 5rem;
    text-shadow: 0.08em 0.08em 0.15em var(--clr-neon);
}


/* Media */

@media (max-width: 820px) {
    .main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .buttons a {
        margin: 1.5em 0;
    }
}

@media (max-width: 330px) {
    .arrow-down, .arrow-left {
        padding: 0;
    }
}