.p-letter {
    padding: 0 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkOnce 7s linear 2s infinite;
}
.r-letter {
    padding: var(--def-padding) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkTwice 5s linear 3s infinite;
}
.o-letter {
    padding: calc(var(--def-padding) * 2) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkTwice 6s linear 1s infinite;
}
.j-letter {
    padding: calc(var(--def-padding) * 3) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkOnce 5s linear 2s infinite;
}
.e-letter {
    padding: calc(var(--def-padding) * 4) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkTwice 9s linear 2s infinite;
}
.c-letter {
    padding: calc(var(--def-padding) * 5) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkOnce 10s linear 1s infinite;
}
.t-letter {
    padding: calc(var(--def-padding) * 6) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkOnce 7s linear 4s infinite;
}
.s-letter {
    padding: calc(var(--def-padding) * 7) 0.5rem;
    padding-bottom: 0;
    animation: periodicBlinkTwice 6s linear 4s infinite;
}

@media (max-width: 590px) {
    .big-letter {
        font-size: 4rem;
    }
}

@media (max-width: 490px) {
    .big-letter {
        font-size: 3rem;
    }
}

@media (max-width: 390px) {
    .big-letter {
        font-size: 2rem;
    }
}

@media (max-width: 290px) {
    .big-letter {
        font-size: 1rem;
        font-weight: bold;
    }
}